In [72]:
import numpy as np
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

In [47]:
df = pd.read_csv('availability_and_weather.csv')

/tmp/ipykernel_859353/719539868.py:1: DtypeWarning: Columns (14,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('availability_and_weather.csv')

In [48]:
df.head()

,STATION ID,TIME,LAST UPDATED,NAME,BIKE_STANDS,AVAILABLE_BIKE_STANDS,AVAILABLE_BIKES,STATUS,ADDRESS,LATITUDE,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,1,2023-12-01 00:00:00,2023-11-30 23:58:15,CLARENDON ROW,31,31,0,OPEN,Clarendon Row,53.3409,...,2.0,6.0,2.0,290.0,2.0,81.0,0.0,25000,999.0,1.0
1,2,2023-12-01 00:00:00,2023-11-30 23:58:47,BLESSINGTON STREET,20,14,6,OPEN,Blessington Street,53.3568,...,2.0,6.0,2.0,290.0,2.0,81.0,0.0,25000,999.0,1.0
2,3,2023-12-01 00:00:00,2023-11-30 23:50:47,BOLTON STREET,20,12,7,OPEN,Bolton Street,53.3512,...,2.0,6.0,2.0,290.0,2.0,81.0,0.0,25000,999.0,1.0
3,4,2023-12-01 00:00:00,2023-11-30 23:50:20,GREEK STREET,20,12,8,OPEN,Greek Street,53.3469,...,2.0,6.0,2.0,290.0,2.0,81.0,0.0,25000,999.0,1.0
4,5,2023-12-01 00:00:00,2023-11-30 23:55:45,CHARLEMONT PLACE,40,5,35,OPEN,Charlemont Street,53.3307,...,2.0,6.0,2.0,290.0,2.0,81.0,0.0,25000,999.0,1.0

In [53]:
df = df.dropna()

In [54]:
df_station = df[df['STATION ID'] == 1]

In [73]:

df_station['LAST UPDATED'] = pd.to_datetime(df_station['LAST UPDATED'])
df_station['day_of_week'] = df_station['LAST UPDATED'].dt.dayofweek

features = df_station[['day_of_week', 'HOUR',  'rain', 'temp', 'rhum']]  # Include 'day_of_week' here
target = df_station['AVAILABILITY']

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

train_rmse = mean_squared_error(y_train, model.predict(X_train), squared=False)
test_rmse = mean_squared_error(y_test, model.predict(X_test), squared=False)

print("Training RMSE:", train_rmse)
print("Testing RMSE:", test_rmse)

Training RMSE: 0.29048636630706876
Testing RMSE: 0.29174935589120754

/tmp/ipykernel_859353/240678120.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_station['LAST UPDATED'] = pd.to_datetime(df_station['LAST UPDATED'])
/tmp/ipykernel_859353/240678120.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_station['day_of_week'] = df_station['LAST UPDATED'].dt.dayofweek
/home/eoin/anaconda3/envs/comp30830/lib/python3.11/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(
/home/eoin/anaconda3/envs/comp30830/lib/python3.11/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [70]:
model.predict(np.asarray([5,12,0.3,11,45]).reshape(1,-1))

/home/eoin/anaconda3/envs/comp30830/lib/python3.11/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([0.67380472])