In [59]:
import numpy as np
import pandas as pd
import pymysql
import datetime
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import pickle
import matplotlib.pyplot as plt
from constants import *

In [7]:
try:
    # Connect to the database
    connection = pymysql.connect(host=DB,
                                user=DB_USER,
                                password=DB_PW,
                                database=CITY)
except pymysql.Error as e:
    e

In [8]:
# Close the connection
connection.close()

# Now df contains the data from your table as a DataFrame
print(df.head())

/tmp/ipykernel_16204/2028419593.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   number  available_bikes  available_bike_stands  last_update
0       1               15                     16   1710576480
1       1               15                     16   1710577085
2       1               16                     15   1710577691
3       1               16                     15   1710578296
4       1               16                     15   1710578901

In [19]:
# make database connection
try:
    # Connect to the database
    connection = pymysql.connect(host=DB,
                                user=DB_USER,
                                password=DB_PW,
                                database=CITY)
except pymysql.Error as e:
    print(e)

In [20]:
# get availability
get_availability = "SELECT * FROM availability"
df_availability = pd.read_sql_query(get_availability, connection)

# get weather
get_weather = "SELECT * FROM weather"
df_weather = pd.read_sql_query(get_weather, connection)

connection.close()

/tmp/ipykernel_16204/1168624268.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_availability = pd.read_sql_query(get_availability, connection)
/tmp/ipykernel_16204/1168624268.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_weather = pd.read_sql_query(get_weather, connection)

In [43]:
df_availability.head()

   number  available_bikes  available_bike_stands  last_update
0       1               15                     16   1710576480
1       1               15                     16   1710577085
2       1               16                     15   1710577691
3       1               16                     15   1710578296
4       1               16                     15   1710578901

In [44]:
df_weather.head()

   last_update  rain  temp   hum
0   1712652300  0.03   7.0  81.0
1   1712653200  0.11   7.0  81.0
2   1712654100  0.11   8.0  76.0
3   1712655000  0.11   8.0  76.0
4   1712655900  0.11   8.0  76.0

In [45]:
# merge availability with weather data
df = pd.merge_asof(df_availability.sort_values('last_update'), 
                          df_weather.sort_values('last_update'), 
                          on='last_update')

df.head()

,number,available_bikes,available_bike_stands,last_update,rain,temp,hum
0,10,11,5,1710576107,NaN,NaN,NaN
1,95,38,2,1710576111,NaN,NaN,NaN
2,60,14,16,1710576117,NaN,NaN,NaN
3,20,1,29,1710576118,NaN,NaN,NaN
4,105,3,33,1710576118,NaN,NaN,NaN

Unfortunately, the scraper that gathered the weather data was failing for the first few weeks and we weren't aware, so the data we have available isn't as comprehensive as we would like

In [46]:
df = df.dropna()
df.shape

(149328, 7)

The day of the week and the hour of the day are likely useful predictors for bike availability, and as such we want to impute these from the data collected

In [47]:
def get_day_and_hour(timestamp):
    datetime_obj = pd.to_datetime(timestamp, unit='s')
    return datetime_obj.hour, datetime_obj.dayofweek

In [48]:
df['day'], df['hour'] = zip(*df['last_update'].apply(get_day_and_hour))

Additionally, instead of prpedicting both `available_bikes` and `available_parking`, it makes instead to predict for just `availability`, which is effectively a ratio of the available bikes to the overall capacity of the station

This simplifies the analytics pipeline and will make the predictions more intutive: high availability is desirable in a departure station and low availability (high parking) is desirable in an arrival station

In [49]:
df['availability'] = df['available_bikes'] / (df['available_bikes'] + df['available_bike_stands'])

In [50]:
df.head()

,number,available_bikes,available_bike_stands,last_update,rain,temp,hum,day,hour,availability
460665,97,8,32,1712652301,0.03,7.0,81.0,8,1,0.200000
460666,53,19,21,1712652306,0.03,7.0,81.0,8,1,0.475000
460667,58,38,2,1712652313,0.03,7.0,81.0,8,1,0.950000
460668,24,10,10,1712652319,0.03,7.0,81.0,8,1,0.500000
460669,44,2,28,1712652325,0.03,7.0,81.0,8,1,0.066667

We will be making predictions for each station based on `rain`, `temp`, `hum`, `day` and `hour`: `day` is a categorical variable and we will treat the others as continuous

The first stage of our pipeline will be declaring `day` as a categorical variable

It is also best practise to standardise the scale of the continuous features

And finally, to add some non-linearity, we will impute some polynomial features for the continuous features

In [61]:
categorical = ['day']
continuous = ['rain', 'temp', 'hum', 'hour']

preprocessor = ColumnTransformer(
    transformers=[
        ('onehot', OneHotEncoder(), categorical),
        ('scaling', StandardScaler(), continuous),
        ('poly', PolynomialFeatures(degree=2), continuous)
    ],
    remainder='passthrough'
)

## Linear Regression

Let's keep it simple and start with a linear regression

In [57]:
lr_pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())  # Add Linear Regression as the final step
])

In [66]:
for station_number in df['number'].unique():
    df_station = df[df['number'] == station_number]
    X_train, X_test, y_train, y_test = train_test_split(df_station[categorical + continuous], df_station['availability'], test_size=0.2, random_state=69)

    print("Station number:", station_number, "R^2 Score:", lr_pipeline.fit(X_train, y_train).score(X_test, y_test))

Station number: 97 R^2 Score: 0.6292366667416187
Station number: 53 R^2 Score: 0.5969795802533711
Station number: 58 R^2 Score: 0.6218622058086514
Station number: 24 R^2 Score: 0.43404677435193617
Station number: 44 R^2 Score: 0.6902700676728959
Station number: 20 R^2 Score: 0.7651677876813636
Station number: 74 R^2 Score: 0.6112123697744438
Station number: 80 R^2 Score: 0.3553049343798558
Station number: 29 R^2 Score: 0.6469902428360788
Station number: 47 R^2 Score: 0.6095194680644069
Station number: 73 R^2 Score: 0.5715964479041684
Station number: 88 R^2 Score: 0.46754362110248415
Station number: 3 R^2 Score: 0.6308924477076583
Station number: 42 R^2 Score: 0.5622654551803173
Station number: 71 R^2 Score: 0.15302434514291263
Station number: 117 R^2 Score: 0.6263216383165278
Station number: 78 R^2 Score: 0.3721581544429252
Station number: 91 R^2 Score: 0.650393498056892
Station number: 22 R^2 Score: 0.4096474223567308
Station number: 33 R^2 Score: 0.5859321337796066
Station number: 62 R^2 Score: 0.507988271220206
Station number: 5 R^2 Score: 0.7416564366065275
Station number: 26 R^2 Score: 0.6628377391843238
Station number: 2 R^2 Score: 0.45306515176363693
Station number: 18 R^2 Score: 0.4428498068852844
Station number: 110 R^2 Score: 0.4070673509105147
Station number: 34 R^2 Score: 0.6910424140459679
Station number: 114 R^2 Score: 0.678377573080535
Station number: 32 R^2 Score: 0.4485253745134282
Station number: 67 R^2 Score: 0.46077274578245964
Station number: 68 R^2 Score: 0.7363806183141399
Station number: 36 R^2 Score: 0.5651807476123412
Station number: 19 R^2 Score: 0.6222008054954513
Station number: 64 R^2 Score: 0.4432687622760718
Station number: 69 R^2 Score: 0.6114023801608957
Station number: 75 R^2 Score: 0.6819501014651761
Station number: 116 R^2 Score: 0.4539246293231022
Station number: 96 R^2 Score: 0.4471467850058116
Station number: 1 R^2 Score: 0.5226905417345122
Station number: 111 R^2 Score: 0.7385103804267882
Station number: 106 R^2 Score: 0.39724110486374065
Station number: 49 R^2 Score: 0.4607394206180375
Station number: 76 R^2 Score: 0.3047665979077733
Station number: 31 R^2 Score: 0.4228383264954112
Station number: 101 R^2 Score: 0.777031709034898
Station number: 11 R^2 Score: 0.5923187270613781
Station number: 82 R^2 Score: 0.5974798506197536
Station number: 37 R^2 Score: 0.6020814934837813
Station number: 86 R^2 Score: 0.6560869677317943
Station number: 41 R^2 Score: 0.36047564318755254
Station number: 66 R^2 Score: 0.4230165877575004
Station number: 61 R^2 Score: 0.5904160701152925
Station number: 27 R^2 Score: 0.6895665563920099
Station number: 57 R^2 Score: 0.7086464718595633
Station number: 87 R^2 Score: 0.5787475978081515
Station number: 72 R^2 Score: 0.3932165594442393
Station number: 112 R^2 Score: 0.7187473014875495
Station number: 113 R^2 Score: 0.7082600743227953
Station number: 12 R^2 Score: 0.41102606972107836
Station number: 92 R^2 Score: 0.68244101061367
Station number: 13 R^2 Score: 0.6578218542295179
Station number: 102 R^2 Score: 0.252020593902893
Station number: 98 R^2 Score: 0.7553188090538555
Station number: 21 R^2 Score: 0.5518454918538747
Station number: 63 R^2 Score: 0.5087864410089684
Station number: 51 R^2 Score: 0.6502789517686938
Station number: 7 R^2 Score: 0.49773651039694644
Station number: 48 R^2 Score: 0.5007632098763533
Station number: 93 R^2 Score: 0.7450874357019216
Station number: 83 R^2 Score: 0.6216010923152954
Station number: 108 R^2 Score: 0.4397039893784962
Station number: 28 R^2 Score: 0.35179196352060504
Station number: 65 R^2 Score: 0.6752477434467092
Station number: 38 R^2 Score: 0.3977805104463046
Station number: 107 R^2 Score: 0.5762667163121955
Station number: 6 R^2 Score: 0.6679404736723322
Station number: 4 R^2 Score: 0.5899659551808207
Station number: 89 R^2 Score: 0.7729456833775565
Station number: 79 R^2 Score: 0.45968361211604314
Station number: 109 R^2 Score: 0.5901776893595327
Station number: 59 R^2 Score: 0.3777150895096826
Station number: 14 R^2 Score: 0.7074051423586085
Station number: 99 R^2 Score: 0.3847432637046948
Station number: 84 R^2 Score: 0.6112521326778568
Station number: 23 R^2 Score: 0.5214049260373993
Station number: 9 R^2 Score: 0.5352715201810707
Station number: 94 R^2 Score: 0.39754961006964484
Station number: 104 R^2 Score: 0.4494351949198051
Station number: 16 R^2 Score: 0.4691985336317449
Station number: 8 R^2 Score: 0.4838975701266498
Station number: 103 R^2 Score: 0.5356116946522178
Station number: 77 R^2 Score: 0.6741773835774421
Station number: 39 R^2 Score: 0.7503937872409792
Station number: 55 R^2 Score: 0.7040558923437994
Station number: 105 R^2 Score: 0.5631962988877086
Station number: 40 R^2 Score: 0.5835928176236469
Station number: 15 R^2 Score: 0.46696010615035966
Station number: 54 R^2 Score: 0.6541607376086668
Station number: 17 R^2 Score: 0.3042275848057103
Station number: 10 R^2 Score: 0.4670206607380425
Station number: 95 R^2 Score: 0.6597726646068218
Station number: 25 R^2 Score: 0.7955639271130204
Station number: 50 R^2 Score: 0.6758854803065808
Station number: 30 R^2 Score: 0.2782573109766292
Station number: 85 R^2 Score: 0.628523664670112
Station number: 52 R^2 Score: 0.7686330082040858
Station number: 43 R^2 Score: 0.5646574750297475
Station number: 60 R^2 Score: 0.733162952006678
Station number: 115 R^2 Score: 0.8212116431552108
Station number: 56 R^2 Score: 0.6943220976556201
Station number: 90 R^2 Score: 0.6987402493894301
Station number: 45 R^2 Score: 0.8313430183367427
Station number: 35 R^2 Score: 0.23880513389655322
Station number: 100 R^2 Score: 0.46934868715607414

In [14]:
# for each station
    # train and test split
    # pipe.fit(X_train, y_train).score(X_test, y_test)
    # add resuls to database