In [2]:
import pandas as pd
import os

In [6]:
# Path to the directory containing CSV files
directory = 'data/'

# Initialize an empty list to store dataframes
dfs = []

# Loop through each file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        # Read the CSV file into a Pandas DataFrame
        filepath = os.path.join(directory, filename)
        df = pd.read_csv(filepath)
        
        # Append the DataFrame to the list
        dfs.append(df)

# Concatenate all DataFrames in the list into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Display the combined DataFrame
print(combined_df)

         STATION ID                 TIME         LAST UPDATED  \
0                 1  2023-12-01 00:00:03  2023-11-30 23:58:15
1                 2  2023-12-01 00:00:03  2023-11-30 23:58:47
2                 3  2023-12-01 00:00:03  2023-11-30 23:50:47
3                 4  2023-12-01 00:00:03  2023-11-30 23:50:20
4                 5  2023-12-01 00:00:03  2023-11-30 23:55:45
...             ...                  ...                  ...
4710833         113  2023-09-30 23:30:02  2023-09-30 23:28:30
4710834         114  2023-09-30 23:30:02  2023-09-30 23:29:08
4710835         115  2023-09-30 23:30:02  2023-09-30 23:20:54
4710836         116  2023-09-30 23:30:02  2023-09-30 23:26:04
4710837         117  2023-09-30 23:30:02  2023-09-30 23:26:59

                          NAME  BIKE_STANDS  AVAILABLE_BIKE_STANDS  \
0                CLARENDON ROW           31                     31
1           BLESSINGTON STREET           20                     14
2                BOLTON STREET           20                     12
3                 GREEK STREET           20                     12
4             CHARLEMONT PLACE           40                      5
...                        ...          ...                    ...
4710833   MERRION SQUARE SOUTH           40                     32
4710834  WILTON TERRACE (PARK)           40                     39
4710835       KILLARNEY STREET           30                      6
4710836             BROADSTONE           30                     21
4710837      HANOVER QUAY EAST           40                     35

         AVAILABLE_BIKES STATUS                ADDRESS  LATITUDE  LONGITUDE
0                      0   OPEN          Clarendon Row   53.3409   -6.26250
1                      6   OPEN     Blessington Street   53.3568   -6.26814
2                      7   OPEN          Bolton Street   53.3512   -6.26986
3                      8   OPEN           Greek Street   53.3469   -6.27298
4                     35   OPEN      Charlemont Street   53.3307   -6.26018
...                  ...    ...                    ...       ...        ...
4710833                6   OPEN   Merrion Square South   53.3386   -6.24861
4710834                1   OPEN  Wilton Terrace (Park)   53.3337   -6.24834
4710835               24   OPEN       Killarney Street   53.3548   -6.24758
4710836                9   OPEN             Broadstone   53.3547   -6.27231
4710837                5   OPEN      Hanover Quay East   53.3437   -6.23175

[4710838 rows x 11 columns]

In [7]:
combined_df.to_csv('combined_dataframe.csv', index=False)