In [1]:
import pandas as pd

/tmp/ipykernel_146509/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('combined_dataframe.csv')
df.head()

,STATION ID,TIME,LAST UPDATED,NAME,BIKE_STANDS,AVAILABLE_BIKE_STANDS,AVAILABLE_BIKES,STATUS,ADDRESS,LATITUDE,LONGITUDE
0,1,2023-12-01 00:00:03,2023-11-30 23:58:15,CLARENDON ROW,31,31,0,OPEN,Clarendon Row,53.3409,-6.26250
1,2,2023-12-01 00:00:03,2023-11-30 23:58:47,BLESSINGTON STREET,20,14,6,OPEN,Blessington Street,53.3568,-6.26814
2,3,2023-12-01 00:00:03,2023-11-30 23:50:47,BOLTON STREET,20,12,7,OPEN,Bolton Street,53.3512,-6.26986
3,4,2023-12-01 00:00:03,2023-11-30 23:50:20,GREEK STREET,20,12,8,OPEN,Greek Street,53.3469,-6.27298
4,5,2023-12-01 00:00:03,2023-11-30 23:55:45,CHARLEMONT PLACE,40,5,35,OPEN,Charlemont Street,53.3307,-6.26018

In [3]:
df['TIME'] = pd.to_datetime(df['TIME'])
df['DAY'] = df['TIME'].dt.day_name()

In [4]:
df['HOUR'] = df['TIME'].dt.hour

In [5]:
df['AVAILABILITY'] = df['AVAILABLE_BIKES'] / df['BIKE_STANDS']

In [6]:
df.to_csv('dataframe_w_hours_days.csv', index=False)