In [18]:
import pandas as pd
import requests
from constants import *

In [20]:
df_weather = pd.read_csv('hly175.csv')
df_weather

/tmp/ipykernel_168957/1719579169.py:1: DtypeWarning: Columns (2,4,6,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_weather = pd.read_csv('hly175.csv')

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
0,16-aug-2003 01:00,0,0,0,9.2,0,8.9,8.5,11.1,95,1021.9
1,16-aug-2003 02:00,0,0,0,9,0,8.7,8.5,11.1,96,1021.7
2,16-aug-2003 03:00,0,0,0,8.2,0,8,7.7,10.5,96,1021.2
3,16-aug-2003 04:00,0,0,0,8.4,0,8.1,7.9,10.7,97,1021.2
4,16-aug-2003 05:00,0,0,0,7.7,0,7.5,7.3,10.2,97,1021.1
...,...,...,...,...,...,...,...,...,...,...,...
179371,31-jan-2024 20:00,0,0.0,0,5.9,0,5.5,5.0,8.7,93,1026.2
179372,31-jan-2024 21:00,0,0.1,0,4.9,0,4.4,3.7,8.0,92,1027.2
179373,31-jan-2024 22:00,0,0.0,0,4.3,0,3.8,3.0,7.6,91,1028.4
179374,31-jan-2024 23:00,0,0.0,0,4.1,0,3.5,2.5,7.3,89,1029.4
179375,01-feb-2024 00:00,0,0.0,0,3.7,0,2.9,1.6,6.9,86,1030.2

In [3]:
df = pd.read_csv('data/dublinbike-historical-data-2021-10.csv')
df

,STATION ID,TIME,LAST UPDATED,NAME,BIKE_STANDS,AVAILABLE_BIKE_STANDS,AVAILABLE_BIKES,STATUS,ADDRESS,LATITUDE,LONGITUDE
0,2,2021-10-01 00:00:03,2021-09-30 23:56:31,BLESSINGTON STREET,20,7,13,OPEN,Blessington Street,53.3568,-6.26814
1,3,2021-10-01 00:00:03,2021-09-30 23:53:57,BOLTON STREET,20,1,19,OPEN,Bolton Street,53.3512,-6.26986
2,4,2021-10-01 00:00:03,2021-09-30 23:56:37,GREEK STREET,20,11,9,OPEN,Greek Street,53.3469,-6.27298
3,5,2021-10-01 00:00:03,2021-09-30 23:54:50,CHARLEMONT PLACE,40,0,40,OPEN,Charlemont Street,53.3307,-6.26018
4,6,2021-10-01 00:00:03,2021-09-30 23:56:04,CHRISTCHURCH PLACE,20,4,16,OPEN,Christchurch Place,53.3434,-6.27012
...,...,...,...,...,...,...,...,...,...,...,...
163379,113,2021-10-31 23:30:02,2021-10-31 23:29:45,MERRION SQUARE SOUTH,40,32,8,OPEN,Merrion Square South,53.3386,-6.24861
163380,114,2021-10-31 23:30:02,2021-10-31 23:28:04,WILTON TERRACE (PARK),40,30,10,OPEN,Wilton Terrace (Park),53.3337,-6.24834
163381,115,2021-10-31 23:30:02,2021-10-31 23:20:42,KILLARNEY STREET,30,8,22,OPEN,Killarney Street,53.3548,-6.24758
163382,116,2021-10-31 23:30:02,2021-10-31 23:21:27,BROADSTONE,30,18,12,OPEN,Broadstone,53.3547,-6.27231
163383,117,2021-10-31 23:30:02,2021-10-31 23:23:39,HANOVER QUAY EAST,40,38,2,OPEN,Hanover Quay East,53.3437,-6.23175

## TODO 
standardize dates to combine weather with historical data