In [26]:
import pandas as pd
import requests
from constants import *

In [27]:
df_weather = pd.read_csv('weather_dublin_hourly.csv')
df_bikes = pd.read_csv('dataframe_w_hours_days.csv')

/tmp/ipykernel_333189/3781673388.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_weather = pd.read_csv('weather_dublin_hourly.csv')

In [28]:
df_weather

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,25-dec-2017 02:00,2,0.0,0,10.9,0,10.0,9.0,11.6,89,...,2,17,2,210,60,62,0.0,14000,14,7
1,25-dec-2017 03:00,0,0.1,0,10.8,0,9.9,8.9,11.5,89,...,2,16,2,210,60,62,0.0,14000,15,7
2,25-dec-2017 04:00,0,1.8,0,9.6,0,9.4,9.2,11.6,97,...,2,13,2,210,61,66,0.0,5000,10,7
3,25-dec-2017 05:00,0,0.9,0,9.0,0,8.4,7.8,10.5,92,...,2,11,2,250,61,66,0.0,10000,10,7
4,25-dec-2017 06:00,0,0.6,0,8.6,0,8.3,8.0,10.7,96,...,2,9,2,220,61,62,0.0,5000,10,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53490,31-jan-2024 20:00,0,0.0,0,6.0,0,5.2,4.1,8.2,88,...,2,9,2,270,2,11,0.0,30000,35,6
53491,31-jan-2024 21:00,0,0.0,0,4.8,0,4.1,3.0,7.6,89,...,2,11,2,270,2,11,0.0,20000,35,6
53492,31-jan-2024 22:00,0,0.0,0,4.6,0,3.7,2.4,7.2,85,...,2,8,2,260,2,11,0.0,20000,35,7
53493,31-jan-2024 23:00,0,0.0,0,4.3,0,3.4,1.9,7.1,85,...,2,7,2,250,2,11,0.0,20000,35,6
53494,01-feb-2024 00:00,0,0.0,0,3.6,0,2.7,1.4,6.7,85,...,2,8,2,260,2,11,0.0,20000,999,3

### TODO 
# standardize dates to combine weather with historical data
take care with what we use to train (respect to what we can get from the weathe API calls)

In [29]:
df_weather.date = df_weather.date.astype('datetime64[s]')
df_weather.date = pd.to_datetime(df_weather.date).dt.floor('h')
df_weather.date

0       2017-12-25 02:00:00
1       2017-12-25 03:00:00
2       2017-12-25 04:00:00
3       2017-12-25 05:00:00
4       2017-12-25 06:00:00
                ...
53490   2024-01-31 20:00:00
53491   2024-01-31 21:00:00
53492   2024-01-31 22:00:00
53493   2024-01-31 23:00:00
53494   2024-02-01 00:00:00
Name: date, Length: 53495, dtype: datetime64[s]

In [30]:
df_bikes.TIME = df_bikes.TIME.astype('datetime64[s]')
df_bikes.TIME = pd.to_datetime(df_bikes.TIME).dt.floor('h')
df_bikes.TIME

0         2023-12-01 00:00:00
1         2023-12-01 00:00:00
2         2023-12-01 00:00:00
3         2023-12-01 00:00:00
4         2023-12-01 00:00:00
                  ...
3294848   2023-09-30 23:00:00
3294849   2023-09-30 23:00:00
3294850   2023-09-30 23:00:00
3294851   2023-09-30 23:00:00
3294852   2023-09-30 23:00:00
Name: TIME, Length: 3294853, dtype: datetime64[s]

In [31]:
df_bikes

,STATION ID,TIME,LAST UPDATED,NAME,BIKE_STANDS,AVAILABLE_BIKE_STANDS,AVAILABLE_BIKES,STATUS,ADDRESS,LATITUDE,LONGITUDE,DAY,HOUR,AVAILABILITY
0,1,2023-12-01 00:00:00,2023-11-30 23:58:15,CLARENDON ROW,31,31,0,OPEN,Clarendon Row,53.3409,-6.26250,Friday,0,0.000
1,2,2023-12-01 00:00:00,2023-11-30 23:58:47,BLESSINGTON STREET,20,14,6,OPEN,Blessington Street,53.3568,-6.26814,Friday,0,0.300
2,3,2023-12-01 00:00:00,2023-11-30 23:50:47,BOLTON STREET,20,12,7,OPEN,Bolton Street,53.3512,-6.26986,Friday,0,0.350
3,4,2023-12-01 00:00:00,2023-11-30 23:50:20,GREEK STREET,20,12,8,OPEN,Greek Street,53.3469,-6.27298,Friday,0,0.400
4,5,2023-12-01 00:00:00,2023-11-30 23:55:45,CHARLEMONT PLACE,40,5,35,OPEN,Charlemont Street,53.3307,-6.26018,Friday,0,0.875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3294848,113,2023-09-30 23:00:00,2023-09-30 23:28:30,MERRION SQUARE SOUTH,40,32,6,OPEN,Merrion Square South,53.3386,-6.24861,Saturday,23,0.150
3294849,114,2023-09-30 23:00:00,2023-09-30 23:29:08,WILTON TERRACE (PARK),40,39,1,OPEN,Wilton Terrace (Park),53.3337,-6.24834,Saturday,23,0.025
3294850,115,2023-09-30 23:00:00,2023-09-30 23:20:54,KILLARNEY STREET,30,6,24,OPEN,Killarney Street,53.3548,-6.24758,Saturday,23,0.800
3294851,116,2023-09-30 23:00:00,2023-09-30 23:26:04,BROADSTONE,30,21,9,OPEN,Broadstone,53.3547,-6.27231,Saturday,23,0.300
3294852,117,2023-09-30 23:00:00,2023-09-30 23:26:59,HANOVER QUAY EAST,40,35,5,OPEN,Hanover Quay East,53.3437,-6.23175,Saturday,23,0.125

In [32]:
df_weather

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,2017-12-25 02:00:00,2,0.0,0,10.9,0,10.0,9.0,11.6,89,...,2,17,2,210,60,62,0.0,14000,14,7
1,2017-12-25 03:00:00,0,0.1,0,10.8,0,9.9,8.9,11.5,89,...,2,16,2,210,60,62,0.0,14000,15,7
2,2017-12-25 04:00:00,0,1.8,0,9.6,0,9.4,9.2,11.6,97,...,2,13,2,210,61,66,0.0,5000,10,7
3,2017-12-25 05:00:00,0,0.9,0,9.0,0,8.4,7.8,10.5,92,...,2,11,2,250,61,66,0.0,10000,10,7
4,2017-12-25 06:00:00,0,0.6,0,8.6,0,8.3,8.0,10.7,96,...,2,9,2,220,61,62,0.0,5000,10,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53490,2024-01-31 20:00:00,0,0.0,0,6.0,0,5.2,4.1,8.2,88,...,2,9,2,270,2,11,0.0,30000,35,6
53491,2024-01-31 21:00:00,0,0.0,0,4.8,0,4.1,3.0,7.6,89,...,2,11,2,270,2,11,0.0,20000,35,6
53492,2024-01-31 22:00:00,0,0.0,0,4.6,0,3.7,2.4,7.2,85,...,2,8,2,260,2,11,0.0,20000,35,7
53493,2024-01-31 23:00:00,0,0.0,0,4.3,0,3.4,1.9,7.1,85,...,2,7,2,250,2,11,0.0,20000,35,6
53494,2024-02-01 00:00:00,0,0.0,0,3.6,0,2.7,1.4,6.7,85,...,2,8,2,260,2,11,0.0,20000,999,3

In [33]:
merged_df = pd.merge(df_bikes, df_weather, left_on='TIME', right_on='date', how='left')

In [34]:
merged_df

,STATION ID,TIME,LAST UPDATED,NAME,BIKE_STANDS,AVAILABLE_BIKE_STANDS,AVAILABLE_BIKES,STATUS,ADDRESS,LATITUDE,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,1,2023-12-01 00:00:00,2023-11-30 23:58:15,CLARENDON ROW,31,31,0,OPEN,Clarendon Row,53.3409,...,2.0,6.0,2.0,290.0,2.0,81.0,0.0,25000,999.0,1.0
1,2,2023-12-01 00:00:00,2023-11-30 23:58:47,BLESSINGTON STREET,20,14,6,OPEN,Blessington Street,53.3568,...,2.0,6.0,2.0,290.0,2.0,81.0,0.0,25000,999.0,1.0
2,3,2023-12-01 00:00:00,2023-11-30 23:50:47,BOLTON STREET,20,12,7,OPEN,Bolton Street,53.3512,...,2.0,6.0,2.0,290.0,2.0,81.0,0.0,25000,999.0,1.0
3,4,2023-12-01 00:00:00,2023-11-30 23:50:20,GREEK STREET,20,12,8,OPEN,Greek Street,53.3469,...,2.0,6.0,2.0,290.0,2.0,81.0,0.0,25000,999.0,1.0
4,5,2023-12-01 00:00:00,2023-11-30 23:55:45,CHARLEMONT PLACE,40,5,35,OPEN,Charlemont Street,53.3307,...,2.0,6.0,2.0,290.0,2.0,81.0,0.0,25000,999.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3294848,113,2023-09-30 23:00:00,2023-09-30 23:28:30,MERRION SQUARE SOUTH,40,32,6,OPEN,Merrion Square South,53.3386,...,2.0,8.0,2.0,200.0,21.0,62.0,0.0,30000,60.0,7.0
3294849,114,2023-09-30 23:00:00,2023-09-30 23:29:08,WILTON TERRACE (PARK),40,39,1,OPEN,Wilton Terrace (Park),53.3337,...,2.0,8.0,2.0,200.0,21.0,62.0,0.0,30000,60.0,7.0
3294850,115,2023-09-30 23:00:00,2023-09-30 23:20:54,KILLARNEY STREET,30,6,24,OPEN,Killarney Street,53.3548,...,2.0,8.0,2.0,200.0,21.0,62.0,0.0,30000,60.0,7.0
3294851,116,2023-09-30 23:00:00,2023-09-30 23:26:04,BROADSTONE,30,21,9,OPEN,Broadstone,53.3547,...,2.0,8.0,2.0,200.0,21.0,62.0,0.0,30000,60.0,7.0
3294852,117,2023-09-30 23:00:00,2023-09-30 23:26:59,HANOVER QUAY EAST,40,35,5,OPEN,Hanover Quay East,53.3437,...,2.0,8.0,2.0,200.0,21.0,62.0,0.0,30000,60.0,7.0

In [37]:
# Specify the timestamp you want to filter for
timestamp_to_find = '2023-09-30 23:00:00'

# Using .loc[]
result = merged_df.loc[merged_df['TIME'] == timestamp_to_find]

print(result)

         STATION ID                TIME         LAST UPDATED  \
3294625           1 2023-09-30 23:00:00  2023-09-30 22:57:00
3294626           2 2023-09-30 23:00:00  2023-09-30 22:57:47
3294627           3 2023-09-30 23:00:00  2023-09-30 22:57:33
3294628           4 2023-09-30 23:00:00  2023-09-30 22:58:55
3294629           5 2023-09-30 23:00:00  2023-09-30 22:58:31
...             ...                 ...                  ...
3294848         113 2023-09-30 23:00:00  2023-09-30 23:28:30
3294849         114 2023-09-30 23:00:00  2023-09-30 23:29:08
3294850         115 2023-09-30 23:00:00  2023-09-30 23:20:54
3294851         116 2023-09-30 23:00:00  2023-09-30 23:26:04
3294852         117 2023-09-30 23:00:00  2023-09-30 23:26:59

                          NAME  BIKE_STANDS  AVAILABLE_BIKE_STANDS  \
3294625          CLARENDON ROW           31                      8
3294626     BLESSINGTON STREET           20                      9
3294627          BOLTON STREET           20                     14
3294628           GREEK STREET           20                     17
3294629       CHARLEMONT PLACE           40                     20
...                        ...          ...                    ...
3294848   MERRION SQUARE SOUTH           40                     32
3294849  WILTON TERRACE (PARK)           40                     39
3294850       KILLARNEY STREET           30                      6
3294851             BROADSTONE           30                     21
3294852      HANOVER QUAY EAST           40                     35

         AVAILABLE_BIKES STATUS                ADDRESS  LATITUDE  ...  ind.3  \
3294625               23   OPEN          Clarendon Row   53.3409  ...    2.0
3294626               11   OPEN     Blessington Street   53.3568  ...    2.0
3294627                6   OPEN          Bolton Street   53.3512  ...    2.0
3294628                3   OPEN           Greek Street   53.3469  ...    2.0
3294629               20   OPEN      Charlemont Street   53.3307  ...    2.0
...                  ...    ...                    ...       ...  ...    ...
3294848                6   OPEN   Merrion Square South   53.3386  ...    2.0
3294849                1   OPEN  Wilton Terrace (Park)   53.3337  ...    2.0
3294850               24   OPEN       Killarney Street   53.3548  ...    2.0
3294851                9   OPEN             Broadstone   53.3547  ...    2.0
3294852                5   OPEN      Hanover Quay East   53.3437  ...    2.0

        wdsp  ind.4  wddir    ww     w  sun    vis  clht  clamt
3294625  8.0    2.0  200.0  21.0  62.0  0.0  30000  60.0    7.0
3294626  8.0    2.0  200.0  21.0  62.0  0.0  30000  60.0    7.0
3294627  8.0    2.0  200.0  21.0  62.0  0.0  30000  60.0    7.0
3294628  8.0    2.0  200.0  21.0  62.0  0.0  30000  60.0    7.0
3294629  8.0    2.0  200.0  21.0  62.0  0.0  30000  60.0    7.0
...      ...    ...    ...   ...   ...  ...    ...   ...    ...
3294848  8.0    2.0  200.0  21.0  62.0  0.0  30000  60.0    7.0
3294849  8.0    2.0  200.0  21.0  62.0  0.0  30000  60.0    7.0
3294850  8.0    2.0  200.0  21.0  62.0  0.0  30000  60.0    7.0
3294851  8.0    2.0  200.0  21.0  62.0  0.0  30000  60.0    7.0
3294852  8.0    2.0  200.0  21.0  62.0  0.0  30000  60.0    7.0

[228 rows x 35 columns]

In [38]:
# Specify the timestamp you want to filter for
timestamp_to_find = '2023-09-30 23:00:00'

# Using .loc[]
result = df_weather.loc[df_weather.date == timestamp_to_find]

print(result)

                     date  ind  rain  ind.1  temp  ind.2  wetb  dewpt  vappr  \
50541 2023-09-30 23:00:00    2   0.0      0  16.6      0  15.3   14.4   16.3

       rhum  ...  ind.3  wdsp  ind.4  wddir  ww   w  sun    vis clht  clamt
50541    87  ...      2     8      2    200  21  62  0.0  30000   60      7

[1 rows x 21 columns]

Perfect, the merge is looking up and finding the rate weather info in the dataset